@import url(//fonts.googleapis.com/css?family=Pacifico);

html {
  font-family: Arial, serif;
}

.main {
  margin: 20px 25%;
}

.container {
  width: 800px;
}

.navbar {
  min-height: 70px;
  background-color: #1a75ff;
  color: #FFF;
}

.navbar-header{
  float:none;
  text-align: center;
}

.navbar-brand-name {
  margin: 0 20px 0 0;
  font-family: Pacifico;
}

.footer > a{
  color: #FFF;
}

.footer{
  margin: 20px 25%;
}

.component-demo {
  margin-top: 40px;
}

.game {
  margin: 0;
  background: #1a75ff;
  padding: 20px;
}

.user {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.question {
  font-size: 18px;
}

.login {
  margin: 0 25% auto;
  padding-top: 80px;
}

.login-label {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.login-input {
  width: 100%;
  font-size: 18px;
}

.button {
  padding-top: 20px;
  
}

.login-play-button .btn {
  width: 100%;
}

.tally {

}

.centeredElement{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.answerBlock{
  width:60%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #000;
  background-color: #FFF;
  padding: 5px;
  border: 2px solid #1a75ff;
}

.answerBlock > p {
  margin: 0;
}

.answerBlockHover:hover{
  background-color:#a6a6a6;
  color: #000;
}

.correctAnswer{
  background-color: #80ff80;
}

.incorrectAnswer{
  background-color: #ff3333;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

@-webkit-keyframes colore {
  0%   { color: red; }
  100% { color: blue; }
}

.resultText{
  text-align: center;
}
