html {
  font-family: Arial, serif;
}

.main {
  margin: 20px 25%;
}

.navbar {
  min-height: 70px;
}

.navbar-brand-name {
  margin: 0 20px 0 0;
}

.footer {
  margin: 20px 25%;
}

.component-demo {
  margin-top: 40px;
}

.answerBlock{
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  background-color: #1a75ff;
  padding: 5px;
}

.answerBlock > p {
  margin: 0;
}

.answerBlock:hover{
  background-color:#a6a6a6;
  color: #000;
}